<!DOCTYPE html>
<html lang="">
<head>
    <title>Hoş Geldiniz</title>
</head>
<body>
    <h1>Hoş Geldiniz {{firstName}} {{lastName}}</h1>
    <p>Şifreniz: {{password}}</p>
    <p>Kullanıcı adınız: {{username}}</p>
    <p>Lütfen şifrenizi kimseyle paylaşmayın!</p>
</body>
</html>
